@import "~bootstrap/scss/bootstrap";

body {
    background-color: rgb(144, 144, 144);
    color: white;
}

.bg-primary {
    background-color: rgb(88, 88, 88) !important;
}

table.table {
    color: white !important;
}

